// base values
$base-padding: 1em;
$base-margin: 1em;
$base-gap: 1rem;
$flow-space: 1em; //change for local variable

$utilities: (
  'padding': (
    'prefix': 'p',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'padding-left': (
    'prefix': 'pl',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'padding-right': (
    'prefix': 'pr',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'padding-top': (
    'prefix': 'pt',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'padding-bottom': (
    'prefix': 'pb',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'padding-inline': (
    'prefix': 'px',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'padding-block': (
    'prefix': 'py',
    'values': (
      '0': 0,
      '1': $base-padding * 0.25,
      '2': $base-padding * 0.5,
      '3': $base-padding * 0.75,
      '4': $base-padding * 1,
      '5': $base-padding * 1.25,
      '6': $base-padding * 1.5,
      '7': $base-padding * 1.75,
      '8': $base-padding * 2,
      '9': $base-padding * 2.5,
      '10': $base-padding * 3,
      '11': $base-padding * 3.5,
      '12': $base-padding * 4,
      '13': $base-padding * 4.5,
      '14': $base-padding * 5,
      '15': $base-padding * 6,
    ),
  ),
  'margin': (
    'prefix': 'm',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'margin-left': (
    'prefix': 'ml',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'margin-right': (
    'prefix': 'mr',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'margin-top': (
    'prefix': 'mt',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'margin-bottom': (
    'prefix': 'mb',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'margin-inline': (
    'prefix': 'mx',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'margin-block': (
    'prefix': 'my',
    'values': (
      '0': 0,
      '1': $base-margin * 0.25,
      '2': $base-margin * 0.5,
      '3': $base-margin * 0.75,
      '4': $base-margin * 1,
      '5': $base-margin * 1.25,
      '6': $base-margin * 1.5,
      '7': $base-margin * 1.75,
      '8': $base-margin * 2,
      '9': $base-margin * 2.5,
      '10': $base-margin * 3,
      '11': $base-margin * 3.5,
      '12': $base-margin * 4,
      '13': $base-margin * 4.5,
      '14': $base-margin * 5,
      '15': $base-margin * 6,
    ),
  ),
  'gap': (
    'prefix': 'gap',
    'values': (
      '0': 0,
      '1': $base-gap * 0.25,
      '2': $base-gap * 0.5,
      '3': $base-gap * 0.75,
      '4': $base-gap * 1,
      '5': $base-gap * 1.25,
      '6': $base-gap * 1.5,
      '7': $base-gap * 1.75,
      '8': $base-gap * 2,
      '9': $base-gap * 2.5,
      '10': $base-gap * 3,
      '11': $base-gap * 3.5,
      '12': $base-gap * 4,
      '13': $base-gap * 4.5,
      '14': $base-gap * 5,
      '15': $base-gap * 6,
    ),
  ),

  'opacity': (
    'prefix': 'o',
    'values': (
      '0': 0,
      '10': 0.1,
      '20': 0.2,
      '30': 0.3,
      '40': 0.4,
      '50': 0.5,
      '60': 0.6,
      '70': 0.7,
      '80': 0.8,
      '90': 0.9,
      '100': 1,
    ),
  ),
  'display': (
    'prefix': 'display',
    'values': (
      'n': none,
      'b': block,
      'f': flex,
      'i': inline,
      'i-b': inline-block,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
